h1, p {
    text-align: center;
}

#form-container {
    max-width: 500px;
    margin: 20px auto;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 10px;
    width: 40%; 
}    

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #b3a9a9;
}

th, td {
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}