body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(83, 83, 83));   
    color: #ffffff; 
}

legend {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(83, 83, 83)); 
    border: 2px solid;
    padding: 12px;
    text-align: center;
}

h1, p {
    text-align: center;
}

#form-container {
    max-width: 500px;
    margin: 20px auto;  
}

label, input, textarea, button {
    display: block;
    margin-bottom: 8px;
    width: 40%; 
    text-align: center;
}    

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #ffffff;
}

th, td {
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

button{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(83, 83, 83));   
    color: rgb(255, 255, 255);
    cursor: pointer;     
    padding: 4px;   
    font-size: 15px;
}

::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
